{% extends "layout.html" %}
{% block body %}
	<h1>Adding an Employee</h1>
	{% if session.logged_in %}
	<div id="form">
		<form action="{{ url_for('post_employee') }}" method="post" >
			<h2>Employee Name</h2>
			<input type="text" size="30" name="Employee_Name">
			<h2>Employee Number</h2>
			<input type="number" size="30" name="Employee_Id">
			<h2>Badge Number</h2>
			<input type="text" size="30" name="Nfc_Id">
			<h2>Department</h2>
			<select onchange="dpmtSelected(this);" name="Department">
				<option value="cse">CSE</option>
				<option value="accounting">Accounting</option>
				<option value="marketing">Marketing</option>
				<option id="sec" value="security">Security</option>
			</select>
			<div id="pass" style="display:none;">
				<h2>Password</h2>
				<input type="text" size="30" name="Password">
			</div>
			<script>
				function dpmtSelected(dpmt){
					if(document.getElementById("sec").value == dpmt.value){
						document.getElementById("pass").style.display = "block";
					}
					else{
						document.getElementById("pass").style.display = "none";
					}
				}
			</script>
			<h2>Clearence Level</h2>
			<select name="Clearence_Level">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
			</select>
			<br><br><input type="submit" value="Submit">
		</form>
	</div>
	{% else %}
		<h2>Please Login</h2>
		<ul class=entries>
		<li><em>Security Clearance Required</em>
		</ul>
	{% endif %}
{% endblock %}
